option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elasticbeanstalk:environment:process:default:
    Port: 8080
    Protocol: HTTP
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLPolicy: ELBSecurityPolicy-2016-08
    SSLCertificateArns: arn:aws:acm:ap-southeast-1:036325413747:certificate/f9ab5258-195c-4af1-a4df-ce15c4ebd7ab
  aws:elbv2:listener:default:
    DefaultProcess: default
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /
